# Jekyll stuff
.jekyll-cache
.sass-cache
.DS_Store
_site/
*.bat

CNAME

# Local files; Prepend with "loc-"
loc-*.md

node_modules/
package-lock.json

*.key
*.p12
*.pem
.rnd

_includes/*-tachyons.html

.secret/