# Jekyll stuff
.jekyll-cache
.sass-cache


node_modules/
package-lock.json
.DS_Store
_site/
dist
CNAME

*.bat
*.log

# Local files; Prepend with "loc-"
loc-*.md


*.key
*.p12
*.pem
.rnd

_includes/*-tachyons.html

.secret/