---
layout: pyodide
title: Python HPC
subtitle: High-Performance Computing Section
sections:
- name: gcd
  title: GCD
  url: gcd.html

- name: julia
  title: Julia Set
  url: julia-set.html
---

<div class="uk-section uk-section-small uk-padding-remove uk-margin-small">
    <div class="uk-container uk-container-auto uk-text-center">
        <h2 class="uk-padding-remove uk-margin-remove">{{ page.subtitle }}</h2>
    </div>
    <br>
    <div uk-grid>
        <div class="uk-width-small">
            <ul class="uk-nav uk-nav-default" uk-switcher="connect: #component-nav">
                {% for el in page.sections %}
                    <li><a>{{ el.title }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="uk-width-expand">
            <ul id="component-nav" class="uk-switcher">
                {% for el in page.sections %}
                    <li>{% include_relative {{ el.url }} %}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!-- {% include_relative gcd.html %} -->


<script type="text/javascript">   



    languagePluginLoader.then(() => {
        console.log(pyodide.runPython('Python loaded!'));
        // return pyodide.loadPackage(['numpy']);
    });
</script>
