
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<footer id="page-footer" class="uk-align-center">
  <div>
    <p class="uk-margin-remove">Powered by: <a class="uk-icon-link" href="https://getuikit.com/" uk-icon="icon: uikit"></a></p>
  </div>
  <div>
    <p class="uk-margin-remove">Book a Rental with <a class="uk-icon-link fab fa-airbnb" href="https://www.airbnb.com/c/markm65698?referral_share_id=8f521373-3a6c-456c-aeb3-339775bfc0cb">Airbnb</a></p>
  </div>
  <div>
    <small>&copy; 2019 - <span id="footer-year"></span></small>
    <br>
    <small>Maintained by: Mark Moretto</small>
  </div>
</footer>


