

// Adding a flex-grid to handle keeping the footer at the bottom of the page
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  @mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
  }

.flex-fill {
    @include flexbox();
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }


// Old: <div class="flex flex-column justify-between-l min-vh-100">
.flex-auto-core {
  flex: 1 1 auto;
  min-width: 1; /* 0 */
  min-height: 1; /* 0 */
}  


/* Footer alignment */
.footer {
  flex-shrink: 0;
}
