---
layout: default
title: Social Media
---

<section class="mw5 mw7-ns center bg-light-gray pa3 ph5-ns">
  <p class="lh-solid">Social media links (also at bottom of page):</p>
  <div class="pa4 lh-copy">
        {% for item in site.data.social %}
        <a href="{{ item.link }}" 
          {% if itm.idx | modulo: 2 == 0 %}
          class="f4 fw6 db black link hover-hot-pink"
          {% else %}
          class="f4 fw6 db black link hover-light-purple"
          {% endif %} title="{{ item.name }}">
          {{ item.name }}
        </a>
        {% endfor %}
  </div>
</section>

