---
title: About Mark
resumelink: https://app.box.com/s/upblb5h43y4uf978mdok45ss7jp4efm5
img_path: /assets/images/certs-badges/
resume_path: /assets/docs/resume/moretto-resume-ds-da.pdf
---

<div class="uk-section uk-section-xsmall uk-section-default">
    <p>Hi!  My name is Mark Moretto and welcome to my (relatively) new website.</p>
    <p>Grab a copy of my recent resume by clicking <a class="uk-link-text-main" href="{{ page.resume_path }}" target="_blank">here</a>.</p>
    <div class="uk-container">

        <p class="uk-text-large">Social media links:</p>
        <ul class="uk-list">
        {% for item in site.data.social %}
            {% assign mod_res = item.idx | modulo: 2 %}
            <li><a href="{{ item.link }}"
                {% if mod_res == 0 %}class="uk-link-text-main"
                {% else %}class="uk-link-text-alt"
                {% endif %} 
                title="{{ item.name }}"
                target="_blank">{{ item.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>

    <hr class="uk-divider-icon">

    <div class="uk-container">

        {% assign badge_sort = site.data.certs.badges | sort_natural: 'issuer'  %}
        {% assign badge_list = badge_sort | sort_natural: 'name'  %}
        
        <p class="uk-text-medium">Data Science and Programming Badge Collection</p>

        <div class="uk-grid-small" uk-grid>
            {% for badge in badge_list %}
                {% capture full_path %}{{ page.img_path }}{{ badge.filename }}{% endcapture %}
                <div class="uk-animation-toggle" tabindex="0">
                    <a href="{{ badge.link }}" target="_blank">
                        <img class="uk-animation-shake uk-animation-fast" data-src="{{ full_path }}" height="88" width="88" alt="{{ badge.name }}" uk-img> 
                    </a>
                </div>
            {% endfor %}
        </ul>  

    </div>
</div>
