<!DOCTYPE html>
<html lang="en">
    <head>
        {% include _head.html %}
        <link href="/node_modules/@fullcalendar/core/main.css" rel="stylesheet" />
        <link href="/node_modules/@fullcalendar/daygrid/main.css" rel="stylesheet" />

        <script src='/node_modules/@fullcalendar/core/main.min.js'></script>
        <script src='/node_modules/@fullcalendar/interaction/main.min.js'></script>
        <script src='/node_modules/@fullcalendar/daygrid/main.min.js'></script>
        <script src='/node_modules/@fullcalendar/timegrid/main.min.js'></script>

        <script>
            // TODO: Move events to different format or source.
            document.addEventListener('DOMContentLoaded', function() {
              var calendarEl = document.getElementById('calendar');
              var selectedDt = document.getElementById('sel-date');

              var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
                defaultView: 'dayGridMonth',
                selectable: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },        
                timeZone: 'local', 
                dateClick: function(info) {
                    if (info.dateStr) {
                        selectedDt.innerHTML = `Date selected: ${info.dateStr}`;
                        console.log(`Clicked on day: ${info.dateStr}`);
                    } else {
                        selectedDt.innerHTML = `No date selected.`;
                        console.log(`Clicked off of calendar: ${info.dateStr}`);
                    }
                },
                events: [
                    {
                        id: 'confcall',
                        title: 'busy',
                        start: '2020-06-03T14:00:00'
                    },
                    {
                        id: 'confcall',
                        title: 'busy',
                        start: '2020-06-04T14:00:00'
                    }                    
                ]            

              });
              calendar.render();
            });
      
          </script>

    </head>
    <body>
        <noscript>Please enable JavaScript to view this website.</noscript>
        <div class="app-layout">
            <header>
                {% include _navigation.html %}    
            </header>
            <main>
                <div class="uk-section uk-section-large uk-padding-remove-top">

                    <div class="uk-container uk-container-xsmall">
                        <div id='sel-date' class="uk-text-center">No date selected.</div>
                    </div>

                    <div class="uk-container uk-container-expand">
                        <div id='calendar'></div>
                    </div>
                </div>
            </main>
            
            {% include _footer.html %}

        </div>

        {% include _google_analytics.html %}

    </body>
</html>    