<!DOCTYPE html>
<html>
    <head>

        {% include _meta.html %}
    
        <title>{{ page.title }}</title>

    
        <link rel="stylesheet" href="/assets/css/main.css">
        
        {% include _scripts.html %}
    </head>

    <body>
        <noscript>You need to enable JavaScript to run this website.</noscript>
        <div class="flex-wrapper">
            {% include _navigation.html %}
            {{ content }}
            {% include _footer.html %}
            {% include _google_analytics.html %}
        </div>
    </body>
</html>