<!DOCTYPE html>
<html lang="en">
    <head>
        {% include _head.html %}
    </head>
    <body>
        <div class="app-layout">
            <header>
                {% include _navigation.html %}    
            </header>
            <main>
                <article class="uk-article uk-margin-small-top uk-margin-medium-bottom">
                    <!-- This is where the title: in your front matter gets dropped in.-->
                    <h2 class="uk-article-title">{{ page.title }}</h2>
                    {% if page.author %}
                        <p class="uk-article-meta">Written by: {{ page.author }}
                        {% if page.date %}
                            on {{ page.date | date: "%B %e, %Y" }}
                        {% endif %}
                        </p>
                    {% endif %}           
                    <!-- This is where post content lives -->
                    {{ content }}
                    <!-- end of post content -->
                </article>
                {% include _related_posts.html %}
            </main>

            {% include _footer.html %}

        </div>
        {% include _google_analytics.html %}
    </body>
</html>