<!DOCTYPE html>
<html lang="en">
    <head>
        {% include _head.html %}

        <!-- Add pyodide assets -->
        {% include _pyodide_scripts.html %}

    </head>
    <body>
        <noscript>Please enable JavaScript to view this website.</noscript>

        <div class="app-layout">

            <header>
                {% include _navigation.html %}    
            </header>

            <main>
                {{ content }}    
            </main>
            
            {% include _footer.html %}

        </div>

        {% include _google_analytics.html %}

    </body>
</html>    